---
import LayoutPage from "@/layouts/LayoutPage.astro";
import Page from "@/components/Page.astro";
import { parsedSiteConfig } from "@/site-config";

const conf = await parsedSiteConfig.page.vnctf2025;
const doc_title = [conf.title, await parsedSiteConfig.title].filter(Boolean).join(" | ");
---

<LayoutPage title={doc_title} autoHideNav={true} useBg={true} active="vnctf" padTopNav={true}>
    <Page
        title={conf.title}
        subtitle={conf.subtitle}
        anchor={true}
        content={conf.content}
        mdOptions={{ externalLink: true }}
    >
        <div class="see-active-vnctf">
            <p><a href="/vnctf">See active VNCTF</a></p>
        </div>
    </Page>
</LayoutPage>

<style lang="scss">
    .see-active-vnctf {
        text-align: center;
        margin-top: 2em;
        p {
            margin: 0.5em 0;
        }
    }
</style>
